<div class="mx-auto" style="width: 900px; ">
  <div class="d-flex justify-content-center mt-5">
    <h2>Bienvenue dans votre inventaire</h2>
  </div>
  <div class="search">
      <%= form_with url: items_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control m-3",
              placeholder: "Chapeau..."
          %>
        <%= submit_tag "Rechercher", name: "", class: "btn btn-outline-primary m-3 rounded-5" %>
      <% end %>
  </div>

  <div class="cards">
    <% @inventories.each do |inventorie| %>
        <div class="card-product">
        <%= image_tag inventorie.item.picture %>
          <div class="card-product-infos">
            <h2><%= inventorie.item.name %></h2>
            <p><strong><%= inventorie.status %></strong></p>
            <%= simple_form_for [ @inventories, @item ] do |f| %>
              <%= f.submit "Equiper", class: "btn btn-outline-primary m-3 rounded-5" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
