<nav class="navbar">
  <div class="part_left_navbar">
    <% if user_signed_in? %>
      <% if current_user.inventories.exists?(status: 'equipped') %>
        <%= image_tag current_user.inventories.find_by(status: 'equipped').item.picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
        <%= link_to "Information personnel", profils_path, class: "dropdown-item" %>
        <%= link_to "Inventaire", inventories_path, class: "dropdown-item" %>
        <%= link_to "Paris en cours", bets_path , class: "dropdown-item" %>
        <%= link_to "Déconnexion", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
    <% else %>
      <%= image_tag "default-user", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
      <%= link_to "Connexion", new_user_session_path, class: "dropdown-item" %>
      <%= link_to "Inscription", new_user_registration_path, class: "dropdown-item" %>
    <% end %>
    </div>
      <div id="trait_cote"></div>
        <% unless current_user.nil? %>
        <h5 class="bank_text"><b><%= current_user.bank %></b><%= image_tag("cash_white", alt: "cash", class: "img_cash_white")%> </h5>
        <% end %>
        <%= image_tag("logoblanc", class:"logo") %>
      </div>
    <div class="part_right_navbar">
      <%= link_to matchs_path, class:"text-decoration-none text-white m-2" do %>
        <div class="paris">
          <%= image_tag("piece-de-monnaie", alt: "pièce-de-monnaie", height: 26)%>
          <h3 class="link_to_text">Paris</h3>
        </div>
      <% end %>
      <div class="boutique">
      <%= link_to items_path, class:"text-decoration-none text-white m-2" do %>
        <div class="paris">
          <%= image_tag("boutique", alt: "boutique", height: 26)%>
          <h3 class="link_to_text"> Boutique</h3>
        </div>
      <% end %>
      </div>
    </div>
</nav>
